.about-page {
    position: absolute;
    left: 10%;
    top: 5%;
}

.about h1 {
    color: yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Times New Roman', Times, serif;
}

.about-tag {
    ::before {
        content: '< h1 >';
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
    }

    ::after {
        content: '</ h1 >';
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
    }
}

.about-des p {
    color: black;
    font-weight: 500;
}

.about-des {
    height: auto;

}

.about-des h2 {
    color: yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.about-des strong {
    color: rgb(255, 216, 40);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.about-des .intro p {
    font-size: large;
    color: rgb(3, 42, 48);
}

.about-des .des-footer p {
    color: lightcyan;
}

.portfolio-link {
    color: black;
    font-weight: bold;
    padding: 2 5px;
    text-decoration: underline;
}

@media screen and (max-width:820px) {
    .about-des {
        p {
            width: 90%;
        }
    }
}

@media screen and (max-width:650px) {
    .about-page {
        left: 15%;

    }
}


@media screen and (max-width:540px) {
    .about-page {
        margin-left: 7%;
        padding: 1rem;
        position: relative;
        top: 0;

        .about-des {
            p {
                width: 90%;
            }
        }

    }


}

@media screen and (max-width:450px) {
    .about-page {
        left: 20%;

    }

    .about-des {
        font-size: small;

        .intro p {
            font-size: small;
        }
    }
}

@media screen and (max-width:350px) {
    .about-page {
        left: 5%;

    }
}