.Email-page {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
}

.Email {
    color: yellow;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: .5rem;

    ::before {
        content: '<h1>';
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
    }

    ::after {
        content: '</h1>';
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
    }


}

.email-des p {
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: .5rem;
    width: 50%;
}

@media screen and (max-width:820px) {
    .Email-page {
        margin-left: 20%;
    }

    .email-des p {
        width: auto;
    }

    .email-form {
        margin-left: 20%;
    }
}

@media screen and (max-width:540px) {
    .Email-page {
        margin-left: 20%;
    }

    .email-des p {
        width: auto;
    }

    .email-form {
        margin-left: 20%;
    }
}

@media screen and (max-width:350px) {
    .Email-page {
        margin: 1rem;
    }

    .Email {
        font-size: 10px;
    }
}